 -----------------------------------------------------------------------

   FluidGrid CSS Framework for DRUPAL
   
   Hubert Florin
   couzin.hub@gmail.com
   Copyright 2009 Hubert Florin
   
----------------------------------------------------------------------- */

/* reset.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

/* typography.css */
body {font-size:75%;color:#222;background:#fff;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
p img.left {float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}
p img.right {float:right;margin:1.5em 0 1.5em 1.5em;}
a:focus, a:hover {color:#000;}
a {color:#009;text-decoration:underline;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong {font-weight:bold;}
em, dfn {font-style:italic;}
dfn {font-weight:bold;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0 1.5em;}
ul, ol {margin:0 1.5em 1.5em 1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:4px 10px 4px 5px;}
tr.even td {background:#e5ecf9;}
tfoot {font-style:italic;}
caption {background:#eee;}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}


/* Indentation instead of line shifts for sibling paragraphs. */
   p + p { text-indent:2em; margin-top:-0.8em; }
   form p + p  { text-indent: 0; } /* Don't want this in forms. */
   
/* For great looking type, use this code instead of asdf: 
   <span class="alt">asdf</span>  
   Best used on prepositions and ampersands. */
  
.alt { 
  color: #666; 
  font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif; 
  font-style: italic;
  font-weight: normal;
}

p.incr, .incr p {
	font-size: 10px;
	line-height: 1.44em;  
	margin-bottom: 1.5em;
}

/* Surround uppercase words and abbreviations with this class.
   Based on work by Jørgen Arnor Gårdsø Lom [http://twistedintellect.com/] */
   
.caps { 
  font-variant: small-caps; 
  letter-spacing: 1px; 
  text-transform: lowercase; 
  font-size:1.2em;
  line-height:1%;
  font-weight:bold;
  padding:0 2px;
}

/* forms.css */
label {font-weight:bold;}
fieldset {padding:0.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;}
input.text, input.title, textarea, select {margin:0.5em 0;border:1px solid #bbb;}
input.text:focus, input.title:focus, textarea:focus, select:focus {border:1px solid #666;}
input.text, input.title {width:300px;padding:5px;}
input.title {font-size:1.5em;}
textarea {width:390px;height:250px;padding:5px;}

/* COLORS */

a:link { text-decoration: none; color: #36c; }
a:visited { text-decoration: none; color: #36c; }
a:hover { text-decoration: underline; color: #c33; }
a:active, a:focus { text-decoration: underline; color: #c33; }


/* GRID
________________________________*/

/* The columns are created using empty DIV that have to be 
inside the main wrapper (#page) and should be positionned 
relative. Each DIV have the same width as its corresponding 
columns (done by using class), and by postionning them 
absolutelly (bottom) and giving them a height of 100%, the 
DIVs fill the entire space that the columns should fill.
As the actual content is not positionned absolutelly, the 
footer still behave normally and is pushed down by it. Last 
but not least, we have to set the z-index of the real 
content to 2 to bring it back on top of the columns.
*/

#page {
  margin:0 auto;
  position:relative;
  min-width:800px;
}

.span-1,.span-2, .span-3, .span-4,
.span-5, .span-6, .span-7, .span-8, 
.span-9, .span-10, .span-11, .span-12,
.span-13, .span-14, .span-15, .span-16,
.span-17, .span-18, .span-19, .span-20,
.span-21, .span-22, .span-23, .span-24{
  float:left;
}
.span-full {
  clear:both;
}

div.colborder, div.border {
  border-right:1px solid #eee;
}

hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:0.1em;margin:0 0 1.45em;border:none;}
hr.space {background:#fff;color:#fff;}

div.last {margin-right:0;}
div.first {clear:left;}

.pull-1, .pull-2, .pull-3, .pull-4, 
.pull-5, .pull-6, .pull-7, .pull-8, 
.pull-9, .pull-10, .pull-11, .pull-12, 
.pull-13, .pull-14, .pull-15, .pull-16, 
.pull-17, .pull-18, .pull-19, .pull-20,
.pull-21, .pull-22, .pull-23, .pull-24,
.push-1, .push-2, .push-3, .push-4, 
.push-5, .push-6, .push-7, .push-8, 
.push-9, .push-10, .push-11, .push-12, 
.push-13, .push-14, .push-15, .push-16, 
.push-17, .push-18, .push-19, .push-20,
.push-21, .push-22, .push-23, .push-24 {
  float:left;position:relative;
}

.col{
  position:absolute;
  bottom:0;
  height:100%;
  z-index:-1;
}

.col{background-color:#e3e9f5;}

/* Default Classes */

.align-center {text-align:center;}
.align-left {text-align:left;}
.align-right {text-align:right;}

.float-left {float:left;}
.float-right {float:right;}

.clear-left {clear:left;}
.clear-right {clear:right;}
.clear-both {clear:both;}

/* Clearfix for page container */

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix { display: inline-block; }

/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */


/** "Skip to Main Content" link
---------------------------------
*  This link useful for both visually impaired people and those with mobility impairments
*  who cannot use a mouse.
*/

#skip-nav { display: none; }

#skip-nav a, #skip-nav a:hover, #skip-nav a:visited {
  position: absolute;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
#skip-nav a:active, #skip-nav a:focus {
  position: static;
  width: auto;
  height: auto;
}

/* Grid Visibility Toggle */

#grid {
  display:none;
}
#grid.display {
  display:block;
}
#switchgrid {
  position: fixed;
  bottom :0px;
  left: 15px;
  z-index: 99;
  background-color: #333;
  opacity: 0.1;
  font-size: 9px;
}
#switchgrid a {
  display:block;
  text-decoration: none;
  padding: 2px 10px 0;
  color:#fff;
}
#switchgrid:hover {
  opacity: 0.8;
}

/** Rollover edit links for blocks
----------------------------*/

div.block {
  position: relative;
}
div.block div.edit {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 40;
  border: 1px solid #eee;
  padding: 0 2px;
  font-size: 11px;
  background-color: #fff;
}
div.block:hover div.edit {
  display: block;
}

/*
 * Tabs CSS (Zen Tabs)
 *
 * Adds styles for the primary and secondary tabs.
 *
 * Compare this with default CSS found in the system module's stylesheet (a copy
 * of which is in drupal5-reference.css, line 510.)
 *
 */


div.tabs {
  margin: 0 0 5px 0;
}
ul.primary , ul.secondary{
	display:table;
	width:99%;
}
ul.primary {
  margin: 0;
  padding: 0 0 0 10px;
  border-width: 0;
  list-style: none;
  white-space: nowrap;
  line-height: normal;
  width:100%;
  background:transparent url(../images/tabs/tab-bar.png) repeat-x left bottom;
}
ul.primary li {
  float: left;
  margin: 0;
  padding: 0;
}
ul.primary li a {
  display: block;
  font-size:12px;
  height: 24px;
  margin: 0;
  padding: 0 0 0 5px; /* width of tab-left.png */
  border-width: 0;
  font-weight: bold;
  text-decoration: none;
  color: #777;
  background:transparent url(../images/tabs/tab-left.png) no-repeat left -38px;
}
ul.primary li a .tab {
  display: block;
  height: 20px; /* 24px (parent) - 4px (padding) */
  margin: 0;
  padding: 4px 13px 0 8px;
  border-width: 0;
  font-size:11px;
  line-height: 19px;
  background: url(../images/tabs/tab-right.png) no-repeat right -38px;
}
ul.primary li a:hover {
  border-width: 0;
  background:transparent url(../images/tabs/tab-left.png) no-repeat left -76px;
}
ul.primary li a:hover .tab {
  background:transparent url(../images/tabs/tab-right.png) no-repeat right -76px;
}
ul.primary li.active a,
ul.primary li.active a:hover {
  border-width: 0;
  color: #000;
  background:transparent url(../images/tabs/tab-left.png) no-repeat left 0;
}
ul.primary li.active a .tab,
ul.primary li.active a:hover .tab {
  background:transparent url(../images/tabs/tab-right.png) no-repeat right 0;
}
ul.secondary {
  width:100%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #c0c0c0;
  list-style: none;
  white-space: nowrap;
  background:transparent url(../images/tabs/tab-secondary-bg.png) repeat-x left bottom;
}
ul.secondary li {
  float: left;
  margin: 0 0 0 5px;
  padding: 5px 0;
  border-right: none;
}
ul.secondary a {
  display: block;
  height: 24px;
  margin: 0;
  padding: 0;
  border: 1px solid #c0c0c0;
  text-decoration: none;
  color: #777;
  background:transparent url(../images/tabs/tab-secondary.png) repeat-x left -56px;
}
ul.secondary a .tab {
  display: block;
  height: 18px; /* 24px (parent) - 6px (padding) */
  margin: 0;
  padding: 3px 8px;
  line-height: 18px;
}
ul.secondary a:hover {
  background:transparent url(../images/tabs/tab-secondary.png) repeat-x left bottom;
}
ul.secondary a.active,
ul.secondary a.active:hover {
  border: 1px solid #c0c0c0;
  color: #000;
  background:transparent url(../images/tabs/tab-secondary.png) repeat-x left top;
}

/* Theme settings page */

#system-theme-settings #edit-fluidgrid-pagetpl-wrapper {
  margin-top:-20px;
}
#system-theme-settings #edit-fluidgrid-pagetpl {
  width:150px;
}
#system-theme-settings .tpl {
  position:relative;
  left:160px;
  top:30px;
  font-weight:bold;
  color:#777;
}
#system-theme-settings .optional {
  font-weight:bold;
  color:#060;
}
.grid .form-item {
  padding:10px 0 20px;
  border-bottom:1px solid #ccc;
}
.grid .form-item div {
  padding: 0;
  border:0;
}
#