 -----------------------------------------------------------------------

   FluidGrid CSS Framework
   
   Hubert Florin
   couzin.hub@gmail.com
   Copyright 2009 Hubert Florin
   
----------------------------------------------------------------------- */

/* GRID - 12 columns
________________________________*/

.span-1,.span-2, .span-3, .span-4,
.span-5, .span-6, .span-7, .span-8, 
.span-9, .span-10, .span-11, .span-12 {
  margin-right:1.1%;
}

div.colborder {
  margin-right:4.7025%;
  padding-right:4.7025%;
}
div.border {
  padding-right:0.4%;
  margin-right:0.6%;
}

.span-1 { width:7.325%; }
.span-2 { width:15.75%; }
.span-3 { width:24.175%; }
.span-4 { width:32.6%; }
.span-5 { width:41.025%; }
.span-6 { width:49.45%; }
.span-7 { width:57.875%; }
.span-8 { width:66.3%; }
.span-9 { width:74.725%; }
.span-10 { width:83.15%; }
.span-11 { width:91.575%; }
.span-12, .span-full { width:100%;  margin:0;}

.suffix-1 {padding-right:8.425%;}
.suffix-2 {padding-right:16.85%;}
.suffix-3 {padding-right:25.275%;}
.suffix-4 {padding-right:33.7%;}
.suffix-5 {padding-right:42.125%;}
.suffix-6 {padding-right:50.55%;}
.suffix-7 {padding-right:58.975%;}
.suffix-8 {padding-right:67.4%;}
.suffix-9 {padding-right:75.825%;}
.suffix-10 {padding-right:84.25%;}
.suffix-11 {padding-right:92.675%;}
.suffix-12 {padding-right:100%;}

.prefix-1 {padding-left:8.425%;}
.prefix-2 {padding-left:16.85%;}
.prefix-3 {padding-left:25.275%;}
.prefix-4 {padding-left:33.7%;}
.prefix-5 {padding-left:42.125%;}
.prefix-6 {padding-left:50.55%;}
.prefix-7 {padding-left:58.975%;}
.prefix-8 {padding-left:67.4%;}
.prefix-9 {padding-left:75.825%;}
.prefix-10 {padding-left:84.25%;}
.prefix-11 {padding-left:92.675%;}
.prefix-12 {padding-left:100%;}

.pull-1 {margin-left:-8.425%;}
.pull-2 {margin-left:-16.85%;}
.pull-3 {margin-left:-25.275%;}
.pull-4 {margin-left:-33.7%;}
.pull-5 {margin-left:-42.125%;}
.pull-6 {margin-left:-50.55%;}
.pull-7 {margin-left:-58.975%;}
.pull-8 {margin-left:-67.4%;}
.pull-9 {margin-left:-75.825%;}
.pull-10 {margin-left:-84.25%;}
.pull-11 {margin-left:-92.675%;}
.pull-12 {margin-left:-100%;}

.push-1 {margin:0  -7.325%   0   8.425%;}
.push-2 {margin:0  -15.75%   0   16.85%;}
.push-3 {margin:0  -24.175%  0   25.275%;}
.push-4 {margin:0  -32.6%    0   33.7%;}
.push-5 {margin:0  -41.025%  0   42.125%;}
.push-6 {margin:0  -49.45%   0   50.55%;}
.push-7 {margin:0  -57.875%  0   58.975%;}
.push-8 {margin:0  -66.3%    0   67.4%;}
.push-9 {margin:0  -74.725%  0   75.825%;}
.push-10 {margin:0 -83.15%   0   84.25%;}
.push-11 {margin:0 -91.575%  0   92.675%;}
.push-12 {margin:0 -98.9%    0   100%;}

.col-2{ left:8.425%; }
.col-3{ left:16.85%; }
.col-4{ left:25.275%; }
.col-5{ left:33.7%; }
.col-6{ left:42.125%; }
.col-7{ left:50.55%; }
.col-8{ left:58.975%; }
.col-9{ left:67.4%; }
.col-10{ left:75.825%; }
.col-11{ left:84.25%; }
.col-12{ left:92.675%; }