 -----------------------------------------------------------------------

   FluidGrid CSS Framework
   
   Hubert Florin
   couzin.hub@gmail.com
   Copyright 2009 Hubert Florin
   
----------------------------------------------------------------------- */

/* GRID - 20 columns
________________________________*/

.span-1,.span-2, .span-3, .span-4,
.span-5, .span-6, .span-7, .span-8, 
.span-9, .span-10, .span-11, .span-12,
.span-13, .span-14, .span-15, .span-16,
.span-17, .span-18, .span-19, .span-20 {
  margin-right:1%;
}

div.colborder {
  margin-right:2.96%;
  padding-right:2.96%;
}
div.border {
  padding-right:0.45%;
  margin-right:0.55%;
}

.span-1 { width:4.05%; }
.span-2 { width:9.10%; }
.span-3 { width:14.15%; }
.span-4 { width:19.20%; }
.span-5 { width:24.25%; }
.span-6 { width:29.30%; }
.span-7 { width:32.35%; }
.span-8 { width:39.40%; }
.span-9 { width:44.45%; }
.span-10 { width:49.50%; }
.span-11 { width:54.55%; }
.span-12 { width:59.60%; }
.span-13 { width:64.65%; }
.span-14 { width:69.70%; }
.span-15 { width:74.75%; }
.span-16 { width:79.80%; }
.span-17 { width:84.85%; }
.span-18 { width:89.90%; }
.span-19 { width:94.95%; }
.span-20, .span-full { width:100%; margin:0;}

.suffix-1 {padding-right:5.05%;}
.suffix-2 {padding-right:10.1%;}
.suffix-3 {padding-right:15.15%;}
.suffix-4 {padding-right:20.2%;}
.suffix-5 {padding-right:25.25%;}
.suffix-6 {padding-right:30.30%;}
.suffix-7 {padding-right:35.35%;}
.suffix-8 {padding-right:40.4%;}
.suffix-9 {padding-right:45.45%;}
.suffix-10 {padding-right:50.5%;}
.suffix-11 {padding-right:55.55%;}
.suffix-12 {padding-right:60.6%;}
.suffix-13 {padding-right:65.65%;}
.suffix-14 {padding-right:70.7%;}
.suffix-15 {padding-right:75.75%;}
.suffix-16 {padding-right:80.8%;}
.suffix-17 {padding-right:85.85%;}
.suffix-18 {padding-right:90.9%;}
.suffix-19 {padding-right:95.95%;}

.prefix-1 {padding-left:5.05%;}
.prefix-2 {padding-left:10.1%;}
.prefix-3 {padding-left:15.15%;}
.prefix-4 {padding-left:20.2%;}
.prefix-5 {padding-left:25.25%;}
.prefix-6 {padding-left:30.30%;}
.prefix-7 {padding-left:35.35%;}
.prefix-8 {padding-left:40.4%;}
.prefix-9 {padding-left:45.45%;}
.prefix-10 {padding-left:50.5%;}
.prefix-11 {padding-left:55.55%;}
.prefix-12 {padding-left:60.6%;}
.prefix-13 {padding-left:65.65%;}
.prefix-14 {padding-left:70.7%;}
.prefix-15 {padding-left:75.75%;}
.prefix-16 {padding-left:80.8%;}
.prefix-17 {padding-left:85.85%;}
.prefix-18 {padding-left:90.9%;}
.prefix-19 {padding-left:95.95%;}

.pull-1 {margin-left:-5.05%;}
.pull-2 {margin-left:-10.1%;}
.pull-3 {margin-left:-15.15%;}
.pull-4 {margin-left:-20.2%;}
.pull-5 {margin-left:-25.25%;}
.pull-6 {margin-left:-30.30%;}
.pull-7 {margin-left:-35.35%;}
.pull-8 {margin-left:-40.4%;}
.pull-9 {margin-left:-45.45%;}
.pull-10 {margin-left:-50.5%;}
.pull-11 {margin-left:-55.55%;}
.pull-12 {margin-left:-60.6%;}
.pull-13 {margin-left:-65.65%;}
.pull-14 {margin-left:-70.7%;}
.pull-15 {margin-left:-75.75%;}
.pull-16 {margin-left:-80.8%;}
.pull-17 {margin-left:-85.85%;}
.pull-18 {margin-left:-90.9%;}
.pull-19 {margin-left:-95.95%;}
.pull-20 {margin-left:-100%;}

.push-1 {margin:0   -4.05%    0   5.05%;}
.push-2 {margin:0   -9.1%     0   10.1%;}
.push-3 {margin:0   -14.15%   0   15.15%;}
.push-4 {margin:0   -19.2%    0   20.2%;}
.push-5 {margin:0   -24.25%   0   25.25%;}
.push-6 {margin:0   -29.30%   0   30.3%;}
.push-7 {margin:0   -34.35%   0   35.35%;}
.push-8 {margin:0   -39.4%    0   40.40%;}
.push-9 {margin:0   -44.45%   0   45.45%;}
.push-10 {margin:0  -49.5%    0   50.5%;}
.push-11 {margin:0  -54.55%   0   55.55%;}
.push-12 {margin:0  -59.6%    0   60.6%;}
.push-13 {margin:0  -64.65%   0   65.65%;}
.push-14 {margin:0  -69.7%    0   70.7%;}
.push-15 {margin:0  -74.75%   0   75.75%;}
.push-16 {margin:0  -79.8%    0   80.8%;}
.push-17 {margin:0  -84.85%   0   85.85%;}
.push-18 {margin:0  -89.9%    0   90.9%;}
.push-19 {margin:0  -94.95%   0   95.95%;}
.push-20 {margin:0  -99%      0   100%;}

.col-2{ left:5.05%; }
.col-3{ left:10.1%; }
.col-4{ left:15.15%; }
.col-5{ left:20.2%; }
.col-6{ left:25.25%; }
.col-7{ left:30.30%; }
.col-8{ left:35.35%; }
.col-9{ left:40.4%; }
.col-10{ left:45.45%; }
.col-11{ left:50.5%; }
.col-12{ left:55.55%; }
.col-13{ left:60.6%; }
.col-14{ left:65.65%; }
.col-15{ left:70.7%; }
.col-16{ left:75.75%; }
.col-17{ left:80.8%; }
.col-18{ left:85.85%; }
.col-19{ left:90.9%; }
.col-20{ left:95.95%; }