 -----------------------------------------------------------------------

   FluidGrid CSS Framework
   
   Hubert Florin
   couzin.hub@gmail.com
   Copyright 2009 Hubert Florin
   
----------------------------------------------------------------------- */

/* GRID - 24 columns
________________________________*/

.span-1,.span-2, .span-3, .span-4,
.span-5, .span-6, .span-7, .span-8, 
.span-9, .span-10, .span-11, .span-12,
.span-13, .span-14, .span-15, .span-16,
.span-17, .span-18, .span-19, .span-20,
.span-21, .span-22, .span-23, .span-24 {
  margin-right:1.1%;
}

div.colborder {
  margin-right:2.55%;
  padding-right:2.55%;
}
div.border {
  padding-right:0.5%;
  margin-right:0.6%;
}

.span-1 { width:3.1125%; }
.span-2 { width:7.325%; }
.span-3 { width:11.5375%; }
.span-4 { width:15.75%; }
.span-5 { width:19.9625%; }
.span-6 { width:24.175%; }
.span-7 { width:28.3875%; }
.span-8 { width:32.6%; }
.span-9 { width:36.8125%; }
.span-10 { width:41.025%; }
.span-11 { width:45.2375%; }
.span-12 { width:49.45%; }
.span-13 { width:53.6625%; }
.span-14 { width:57.875%; }
.span-15 { width:62.0875%; }
.span-16 { width:66.3%; }
.span-17 { width:70.5125%; }
.span-18 { width:74.725%; }
.span-19 { width:78.9375%; }
.span-20 { width:83.15%; }
.span-21 { width:87.3625%; }
.span-22 { width:91.575%; }
.span-23 { width:95.7875%; }
.span-24, .span-full { width:100%; margin-right:0;}

.suffix-1 {padding-right:4.2125%;}
.suffix-2 {padding-right:8.425%;}
.suffix-3 {padding-right:12.6375%;}
.suffix-4 {padding-right:16.85%;}
.suffix-5 {padding-right:21.0625%;}
.suffix-6 {padding-right:25.275%;}
.suffix-7 {padding-right:29.4875%;}
.suffix-8 {padding-right:33.7%;}
.suffix-9 {padding-right:37.9125%;}
.suffix-10 {padding-right:42.125%;}
.suffix-11 {padding-right:46.3375%;}
.suffix-12 {padding-right:50.55%;}
.suffix-13 {padding-right:54.7625%;}
.suffix-14 {padding-right:58.975%;}
.suffix-15 {padding-right:63.1875%;}
.suffix-16 {padding-right:67.4%;}
.suffix-17 {padding-right:71.6125%;}
.suffix-18 {padding-right:75.825%;}
.suffix-19 {padding-right:80.0375%;}
.suffix-20 {padding-right:84.25%;}
.suffix-21 {padding-right:88.4625%;}
.suffix-22 {padding-right:92.675%;}
.suffix-23 {padding-right:96.8875%;}
.suffix-24 {padding-right:100.1%;}

.prefix-1 {padding-left:4.2125%;}
.prefix-2 {padding-left:8.425%;}
.prefix-3 {padding-left:12.6375%;}
.prefix-4 {padding-left:16.85%;}
.prefix-5 {padding-left:21.0625%;}
.prefix-6 {padding-left:25.275%;}
.prefix-7 {padding-left:29.4875%;}
.prefix-8 {padding-left:33.7%;}
.prefix-9 {padding-left:37.9125%;}
.prefix-10 {padding-left:42.125%;}
.prefix-11 {padding-left:46.3375%;}
.prefix-12 {padding-left:50.55%;}
.prefix-13 {padding-left:54.7625%;}
.prefix-14 {padding-left:58.975%;}
.prefix-15 {padding-left:63.1875%;}
.prefix-16 {padding-left:67.4%;}
.prefix-17 {padding-left:71.6125%;}
.prefix-18 {padding-left:75.825%;}
.prefix-19 {padding-left:80.0375%;}
.prefix-20 {padding-left:84.25%;}
.prefix-21 {padding-left:88.4625%;}
.prefix-22 {padding-left:92.675%;}
.prefix-23 {padding-left:96.8875%;}
.prefix-24 {padding-left:100.1%;}

.pull-1 {margin-left:-4.2125%;}
.pull-2 {margin-left:-8.425%;}
.pull-3 {margin-left:-12.6375%;}
.pull-4 {margin-left:-16.85%;}
.pull-5 {margin-left:-21.0625%;}
.pull-6 {margin-left:-25.275%;}
.pull-7 {margin-left:-29.4875%;}
.pull-8 {margin-left:-33.7%;}
.pull-9 {margin-left:-37.9125%;}
.pull-10 {margin-left:-42.125%;}
.pull-11 {margin-left:-46.3375%;}
.pull-12 {margin-left:-50.55%;}
.pull-13 {margin-left:-54.7625%;}
.pull-14 {margin-left:-58.975%;}
.pull-15 {margin-left:-63.1875%;}
.pull-16 {margin-left:-67.4%;}
.pull-17 {margin-left:-71.6125%;}
.pull-18 {margin-left:-75.825%;}
.pull-19 {margin-left:-80.0375%;}
.pull-20 {margin-left:-84.25%;}
.pull-21 {margin-left:-88.4625%;}
.pull-22 {margin-left:-92.675%;}
.pull-23 {margin-left:-96.8875%;}
.pull-24 {margin-left:-101.1%;}

.push-1 {margin:0   -3.1125%  0 4.2125%  ;}
.push-2 {margin:0   -7.325%   0 8.425%   ;}
.push-3 {margin:0   -11.5375% 0 12.6375% ;}
.push-4 {margin:0   -15.75%   0 16.85%   ;}
.push-5 {margin:0   -19.9625% 0 21.0625% ;}
.push-6 {margin:0   -24.175%  0 25.275%  ;}
.push-7 {margin:0   -28.3875% 0 29.4875% ;}
.push-8 {margin:0   -32.6%    0 33.7%    ;}
.push-9 {margin:0   -36.8125% 0 37.9125% ;}
.push-10 {margin:0  -41.025%  0 42.125%  ;}
.push-11 {margin:0  -45.2375% 0 46.3375% ;}
.push-12 {margin:0  -49.45%   0 50.55%   ;}
.push-13 {margin:0  -53.6625% 0 54.7625% ;}
.push-14 {margin:0  -57.875%  0 58.975%  ;}
.push-15 {margin:0  -62.0875% 0 63.1875% ;}
.push-16 {margin:0  -66.3%    0 67.4%    ;}
.push-17 {margin:0  -70.5125% 0 71.6125% ;}
.push-18 {margin:0  -74.725%  0 75.825%  ;}
.push-19 {margin:0  -78.9375% 0 80.0375% ;}
.push-20 {margin:0  -83.15%   0 84.25%   ;}
.push-21 {margin:0  -87.3625% 0 88.4625% ;}
.push-22 {margin:0  -91.575%  0 92.675%  ;}
.push-23 {margin:0  -95.7875% 0 96.8875% ;}
.push-24 {margin:0  -100%     0 101.1%   ;}

.col-2{ left:4.2125%; }
.col-3{ left:8.425%; }
.col-4{ left:12.6375%; }
.col-5{ left:16.85%; }
.col-6{ left:21.0625%; }
.col-7{ left:25.275%; }
.col-8{ left:29.4875%; }
.col-9{ left:33.7%; }
.col-10{ left:37.9125%; }
.col-11{ left:42.125%; }
.col-12{ left:46.3375%; }
.col-13{ left:50.55%; }
.col-14{ left:54.7625%; }
.col-15{ left:58.975%; }
.col-16{ left:63.1875%; }
.col-17{ left:67.4%; }
.col-18{ left:71.6125%; }
.col-19{ left:75.825%; }
.col-20{ left:80.0375%; }
.col-21{ left:84.25%; }
.col-22{ left:88.4625%; }
.col-23{ left:92.675%; }
.col-24{ left:96.8875%; }