 -----------------------------------------------------------------------

   FluidGrid CSS Framework
   
   Hubert Florin
   couzin.hub@gmail.com
   Copyright 2009 Hubert Florin
   
----------------------------------------------------------------------- */

/* GRID - 16 columns
________________________________*/

.span-1,.span-2, .span-3, .span-4,
.span-5, .span-6, .span-7, .span-8, 
.span-9, .span-10, .span-11, .span-12,
.span-13, .span-14, .span-15, .span-16 {
  margin-right:1.2%;
}

div.colborder {
  margin-right:3.7025%;
  padding-right:3.7025%;
}
div.border {
  padding-right:0.6%;
  margin-right:0.6%;
}

.span-1 { width:5.125%;}
.span-2 { width:11.45%;}
.span-3 { width:17.775%;}
.span-4 { width:24.1%;}
.span-5 { width:30.425%;}
.span-6 { width:36.75%;}
.span-7 { width:43.075%;}
.span-8 { width:49.4%;}
.span-9 { width:55.725%;}
.span-10 { width:62.05%;}
.span-11 { width:68.375%;}
.span-12 { width:74.7%;}
.span-13 { width:81.025%;}
.span-14 { width:87.35%;}
.span-15 { width:93.675%;}
.span-16, .span-full { width:100%;  margin:0;}

.suffix-1 {padding-right:6.325%;}
.suffix-2 {padding-right:12.65%;}
.suffix-3 {padding-right:18.975%;}
.suffix-4 {padding-right:25.3%;}
.suffix-5 {padding-right:31.625%;}
.suffix-6 {padding-right:37.95%;}
.suffix-7 {padding-right:44.275%;}
.suffix-8 {padding-right:50.6%;}
.suffix-9 {padding-right:56.925%;}
.suffix-10 {padding-right:63.25%;}
.suffix-11 {padding-right:69.575%;}
.suffix-12 {padding-right:75.9%;}
.suffix-13 {padding-right:82.225%;}
.suffix-14 {padding-right:88.55%;}
.suffix-15 {padding-right:94.875%;}
.suffix-16 {padding-right:100%;}

.prefix-1 {padding-left:6.325%;}
.prefix-2 {padding-left:12.65%;}
.prefix-3 {padding-left:18.975%;}
.prefix-4 {padding-left:25.3%;}
.prefix-5 {padding-left:31.625%;}
.prefix-6 {padding-left:37.95%;}
.prefix-7 {padding-left:44.275%;}
.prefix-8 {padding-left:50.6%;}
.prefix-9 {padding-left:56.925%;}
.prefix-10 {padding-left:63.25%;}
.prefix-11 {padding-left:69.575%;}
.prefix-12 {padding-left:75.9%;}
.prefix-13 {padding-left:82.225%;}
.prefix-14 {padding-left:88.55%;}
.prefix-15 {padding-left:94.875%;}
.prefix-16 {padding-left:100%;}

.pull-1 {margin-left:-6.325%;}
.pull-2 {margin-left:-12.65%;}
.pull-3 {margin-left:-18.975%;}
.pull-4 {margin-left:-25.3%;}
.pull-5 {margin-left:-31.625%;}
.pull-6 {margin-left:-37.95%;}
.pull-7 {margin-left:-44.275%;}
.pull-8 {margin-left:-50.6%;}
.pull-9 {margin-left:-56.925%;}
.pull-10 {margin-left:-63.25%;}
.pull-11 {margin-left:-69.575%;}
.pull-12 {margin-left:-75.9%;}
.pull-13 {margin-left:-82.225%;}
.pull-14 {margin-left:-88.55%;}
.pull-15 {margin-left:-94.875%;}
.pull-16 {margin-left:-100%;}

.push-1 {margin:0 -5.125%   0   6.325%;}
.push-2 {margin:0 -11.45%   0   12.65%;}
.push-3 {margin:0 -17.775%  0   18.975%;}
.push-4 {margin:0 -24.1%    0   25.3%;}
.push-5 {margin:0 -30.425%  0   31.625%;}
.push-6 {margin:0 -36.75%   0   37.95%;}
.push-7 {margin:0 -43.075%  0   44.275%;}
.push-8 {margin:0 -49.4%    0   50.6%;}
.push-9 {margin:0 -55.725%  0   56.925%;}
.push-10 {margin:0 -62.05%  0   63.25%;}
.push-11 {margin:0 -68.375% 0   69.575%;}
.push-12 {margin:0 -74.6%   0   75.9%;}
.push-13 {margin:0 -81.025% 0   82.225%;}
.push-14 {margin:0 -87.35%  0   88.55%;}
.push-15 {margin:0 -93.675% 0   94.875%;}
.push-16 {margin:0 -100%    0   100%;}

.col-2{ left:6.325%; }
.col-3{ left:12.65%; }
.col-4{ left:18.975%; }
.col-5{ left:25.3%; }
.col-6{ left:31.625%; }
.col-7{ left:37.95%; }
.col-8{ left:44.275%; }
.col-9{ left:50.6%; }
.col-10{ left:56.925%; }
.col-11{ left:63.25%; }
.col-12{ left:69.575%; }
.col-13{ left:75.9%; }
.col-14{ left:82.225%; }
.col-15{ left:88.55%; }
.col-16{ left:94.875%; }