 -----------------------------------------------------------------------
*/
#main, #page{ height:1%; }
div.admin .left, div.admin .right {
	width:46%;  /* fix the admin page in IE6 */
}

body {text-align:center;}
.container {text-align:left;}
* html .column, * html div.span-1, * html div.span-2, 
* html div.span-3, * html div.span-4, * html div.span-5, 
* html div.span-6, * html div.span-7, * html div.span-8, 
* html div.span-9, * html div.span-10, * html div.span-11, 
* html div.span-12, * html div.span-13, * html div.span-14, 
* html div.span-15, * html div.span-16, * html div.span-17, 
* html div.span-18, * html div.span-19, * html div.span-20, 
* html div.span-21, * html div.span-22, * html div.span-23, 
* html div.span-24 {overflow-x:hidden;}
* html legend {margin:0px -8px 16px 0;padding:0;}
ol {margin-left:2em;}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
html>body p code {*white-space:normal;}
hr {margin:-8px auto 11px;}
img {-ms-interpolation-mode:bicubic;}
.clearfix, .container {display:inline-block;}
* html .clearfix, * html .container {height:1%;}
fieldset {padding-top:0;}

/*
 * Tabs CSS - IE 5 and 6 don't support PNGs with alpha transparency.
 */

ul.primary li a,
ul.primary li a .tab,
ul.secondary li a,
ul.secondary li a .tab {
  display: inline; /* Otherwise the blocks mistakenly get 100% width in IE5 */
  display: inline-block; /* Otherwise the blocks mistakenly get 100% width in IE6 */
}

ul.primary,
ul.secondary {
  width: 100%; /* Otherwise IE5 treats the ul as floated */
  width: auto; /* Reset to auto width for IE6 */
}

ul.primary li a {
  background: url(../images/tabs/tab-left-ie6.png) no-repeat left -38px;
}

ul.primary li a .tab {
  background: url(../images/tabs/tab-right-ie6.png) no-repeat right -38px;
}

ul.primary li a:hover {
	cursor:pointer; /* Minor fix for primary and secondary tabs in IE */
	color:#555;
	text-decoration:none;
  background: url(../images/tabs/tab-left-ie6.png) no-repeat left -76px;
}
ul.secondary li a:hover{
	cursor:pointer; /* Minor fix for primary and secondary tabs in IE */
	color:#555;
	text-decoration:none;
}
ul.primary li a:hover .tab {
  background: url(../images/tabs/tab-right-ie6.png) no-repeat right -76px;
}

ul.primary li.active a,
ul.primary li.active a:hover {
  background: url(../images/tabs/tab-left-ie6.png) no-repeat left 0;
}

ul.primary li.active a .tab,
ul.primary li.active a:hover .tab {
  background: url(../images/tabs/tab-right-ie6.png) no-repeat right 0;
}

/** Drupal admin tables **/

#content tr.even th,
#content tr.even td,
#content tr.odd th,
#content tr.odd td {
  border-bottom: 1px solid #ccc; /* IE doesn't display borders on table rows */
}