 -----------------------------------------------------------------------
*/
body {line-height:1.5;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;color:#000;background:none;font-size:10pt;}
.container {background:none;}
hr {background:#ccc;color:#ccc;width:100%;height:2px;margin:2em 0;padding:0;border:none;}
hr.space {background:#fff;color:#fff;}
h1, h2, h3, h4, h5, h6 {font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;}
code {font:.9em "Courier New", Monaco, Courier, monospace;}
img {float:left;margin:1.5em 1.5em 1.5em 0;}
a img {border:none;}
p img.top {margin-top:0;}
blockquote {margin:1.5em;padding:1em;font-style:italic;font-size:.9em;}
.small {font-size:.9em;}
.large {font-size:1.1em;}
.quiet {color:#999;}
.hide {display:none;}
a:link, a:visited {background:transparent;font-weight:700;text-decoration:underline;}
a:link:after, a:visited:after {content:" (" attr(href) ")";font-size:90%;}

.span-1,.span-2, .span-3, .span-4,
.span-5, .span-6, .span-7, .span-8, 
.span-9, .span-10, .span-11, .span-12,
.span-13, .span-14, .span-15, .span-16,
.span-17, .span-18, .span-19, .span-20,
.span-21, .span-22, .span-23, .span-24 {
  float:none;
  width:auto;
}

.sidebar, #navigation, #header-region, 
#search-theme-form,#footer, .breadcrumb,
.tabs, .feed-icon, .links {
	display: none;
}

#page {
	width: 100%;
}

#header {
	background-color: transparent;
}

#content,
#content #content-inner,
.content,
.title {
	margin:20px 0;
	width: auto;
}

a:hover, a:active, a:link, a:visited {
  text-decoration:none;
	color: #000;
}